.header {
    width: 600px;
    height: 60px;
    margin: auto;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url(https://alexuserdev.github.io/dz/1lesson/img/unnamed.png);
    background-size: contain;
    float: left;

}

.pika {
    width: 51px;
    height: 45px;
    background-image: url(https://alexuserdev.github.io/dz/1lesson/img/pic.jpeg);
    background-size: contain;
    float: right;
    margin-top: 8px;

}

.headpik {
    width: 169px;
    height: 60px;
    float: right;
}

.author {
    margin-top: 21px;
    margin-left: 22px;
    position: absolute;
}